@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}


/* Color Varient */

.black {
    color: #252432;
}

.gray {
    color: #8987A1;
}

.dark-gray {
    color: #7B7C80;
}

.primary-color {
    color: #E95A08;
}



/* Button */

.p-botton{
  background-color: #E95A08;
  color: white;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
.p-botton:hover{
  background-color: #252432;
}